

 .Titulo-secundario {
     color: orange;
     border: 10px solid orange;
     border-radius: 10px;
     text-align: center;
     padding: 2px;
 }




.tabla {
     border: 1px solid black;
     border-radius: 5px;
     padding: 20px;
    
 }
 label {
     color: #67523F;
     font-weight: 500;
     font-size: 25px;
 }
 small {
     color:blue;
     font-style: oblique;
 }