$text-color: black;
$text-color-titulo: orange;


$text-color-subtitulo: #67523F;
$text-color-small:blue;

// boton primario
$bg-primary: rgb(38, 38, 230);
$bg-primary-hover: rgb(90, 90, 255);
$btn-primary-color: white;
$btn-primary-color-hover: black;
